<!DOCTYPE html>
<html>
<body>
  <h2>Circle Calculator</h2>

  <input type="number" id="radius" placeholder="Radius" />
  <button onclick="calculate()">Hitung</button>

  <p id="result"></p>

  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>

  <script src="/app.js"></script>
</body>
</html>
